@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Chivo:wght@100;400&display=swap");
.c-btn {
  font-family: "Barlow", sans-serif;
  background-color: #EE2351;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 18px 40px 18px 40px;
  text-transform: uppercase;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

header nav {
  font-family: "Barlow", sans-serif !important;
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.91) !important;
  backdrop-filter: blur(10px);
}
header nav a {
  color: #fff !important;
}
header nav ul a {
  font-size: 1.2rem;
}

.banner .banner-section {
  position: relative;
  overflow: hidden;
}
.banner .banner-section .inner-banner-div {
  z-index: 1;
  padding-bottom: 90px;
  padding-top: 70px;
  color: #fff;
}
.banner .banner-section .inner-banner-div .banner-img {
  background: url("/images/img1.png") center;
  background-size: cover;
  height: 450px;
  width: 100%;
  padding: 90px 65px;
}
.banner .banner-section .inner-banner-div .banner-img p {
  font-family: "Chivo", sans-serif;
  font-size: 60px;
  font-weight: 100;
  line-height: 84px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 600px;
  text-transform: uppercase;
}
.banner .banner-section .inner-banner-div .banner-img p strong {
  font-weight: 100;
  color: yellow;
}
.banner .banner-section .inner-banner-div .text-div {
  padding: 50px 75px;
  background: rgba(72, 72, 72, 0.2);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.section-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.055) 0%, rgba(0, 0, 0, 0.132) 59%, rgba(0, 0, 0, 0.154) 100%), url("/images/img1.png");
  background-size: cover;
  margin-bottom: 330px;
}
.section-2 .inner-div {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ececec;
}
.section-2 .inner-div h2 {
  margin-bottom: 15px !important;
  max-width: 1000px;
  margin: auto;
  font-family: "Chivo", sans-serif;
  font-size: 36px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
}
.section-2 .inner-div p.p {
  font-family: "Barlow", sans-serif;
  max-width: 500px;
  font-size: 18px;
  font-weight: 100;
  line-height: 32px;
  letter-spacing: 0.1000000015px;
  margin: auto;
  padding-bottom: 80px;
  text-align: center;
}
.section-2 .inner-div .works {
  display: grid;
  color: #ececec;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: -300px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 65px 45px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.section-2 .inner-div .works p {
  max-width: 500px;
  font-family: "Chivo", sans-serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}
.section-2 .inner-div .works .right-div {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.section-2 .inner-div .works .right-div div {
  border: 1px solid transparent;
  border-image: linear-gradient(45deg, #ffce07, #f01e50, #3cc8e6);
  border-image-slice: 1;
}
.section-2 .inner-div .works .right-div div p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: 0.1000000015px;
  padding: 20px;
  text-align: left;
  border-radius: 6px;
  max-width: 100%;
  margin-bottom: 0px;
}
.section-2 .inner-div .works .right-div div:last-child {
  grid-column: 1/3;
}

.section-3 {
  color: #fff;
}
.section-3 .inner-div {
  padding: 80px 60px 40px;
  background: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.5) 100%), url("/images/img2.jfif");
}
.section-3 .inner-div p {
  color: #b6b6b6;
  margin-bottom: 150px;
}
.section-3 .inner-div ul {
  padding-left: 0px;
}
.section-3 .inner-div ul li {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 30px;
}
.section-3 .inner-div ul li i {
  margin-left: 20px;
  font-size: 20px;
  color: #e5e5ea;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.section-4 .container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.section-4 .container .left-div {
  color: #fff;
}
.section-4 .container .left-div h2 {
  font-family: "Chivo", sans-serif;
  font-size: 48px;
  font-weight: 100;
  line-height: 67px;
  letter-spacing: 0px;
  text-align: left;
}
.section-4 .container .left-div p {
  color: #848484;
}
.section-4 .container .left-div i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.section-4 .container .right-div {
  padding: 20px 40px;
}
.section-4 .container .right-div .accordion .accordion-item {
  background-color: transparent !important;
  color: #fff !important;
}
.section-4 .container .right-div .accordion .accordion-item .accordion-button {
  font-size: 20px;
  font-weight: 100;
  color: #fff !important;
  background-color: transparent !important;
}
.section-4 .container .right-div .accordion .accordion-item .accordion-button::after {
  filter: brightness(20);
  -webkit-filter: brightness(20);
  background-size: 13px;
  background-position: 3.5px;
  border: solid rgba(124, 124, 124, 0.28) 1px;
  border-radius: 50px;
  padding: 10px;
}
.section-4 .container .right-div .accordion .accordion-item .accordion-button:focus {
  border: none;
  box-shadow: none;
}
.section-4 .container .right-div .accordion .accordion-item .accordion-button span {
  font-weight: 400;
  background: -webkit-linear-gradient(#ffce07, #f01e50, #3cc8e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-4 .container .right-div .accordion .accordion-item .accordion-button .zoom {
  font-size: 30px;
}
.section-4 .container .right-div .accordion .accordion-item .accordion-button p {
  background: #8e8e93;
  flex: 1;
  height: 1px;
  margin: 0px 10px;
}
.section-4 .container .right-div .accordion .accordion-item .accordion-body {
  padding: 0rem 4rem 0rem 2rem;
  color: #8e8e93;
}

.section-5 {
  padding: 100px 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: url("/images/img1.png") no-repeat;
  background-size: cover;
}
.section-5 .inner-div {
  color: #fff;
}
.section-5 .inner-div h2 {
  font-family: "Chivo", sans-serif;
  font-size: 48px;
  font-weight: 100;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: left;
}
.section-5 .inner-div p {
  color: #e5e5ea;
  font-family: "Barlow", sans-serif;
  margin: 30px 0px;
}
.section-5 .inner-div a {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  color: #fff;
  text-decoration: none;
}
.section-5 .inner-div a i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.section-6 .inner-div {
  padding: 60px 0px;
}
.section-6 .inner-div h2 {
  font-family: "Chivo", sans-serif;
  font-size: 48px;
  font-weight: 100;
  line-height: 67px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
}
.section-6 .inner-div p.p3 {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  max-width: 600px;
  margin: 30px auto;
  color: #8e8e93;
}
.section-6 .inner-div .blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section-6 .inner-div .blog-list .card {
  margin: 0px 10px;
  background-color: #18181a !important;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  color: #fff;
}
.section-6 .inner-div .blog-list .card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.section-6 .inner-div .blog-list .card .card-body {
  padding: 1.5rem;
}
.section-6 .inner-div .blog-list .card .card-body span {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  color: green;
}
.section-6 .inner-div .blog-list .card .card-body p {
  font-family: "Chivo", sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: left;
}
.section-6 .inner-div .blog-list .card .card-body a {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
.section-6 .inner-div .blog-list .card .card-body a i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.section-7 {
  background-color: #000;
}
.section-7 .contact-info {
  color: #fff;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-7 .contact-info h2 {
  font-family: "Chivo", sans-serif;
  font-size: 34px;
}
.section-7 .contact-info p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
.section-7 .contact-form {
  padding: 60px;
  background-color: #202020;
}
.section-7 .contact-form h2 {
  font-family: "Chivo", sans-serif;
  font-size: 28px;
  line-height: 40px;
  color: #F2F2F7;
  margin-bottom: 40px;
}
.section-7 .contact-form form label {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: #F2F2F7;
}
.section-7 .contact-form form input,
.section-7 .contact-form form select {
  background: #202020;
  padding: 1.2rem 1rem;
  color: #fff;
}
.section-7 .contact-form form textarea {
  color: #fff;
  background: #202020;
}
.section-7 .contact-form form button {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  background: #EE2351;
  padding: 18px 40px;
  border-radius: 50px;
  border: none;
}

footer {
  padding: 100px 0px;
  color: #F2F2F7;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .footer-info img {
  width: 60px;
}
footer .footer-info p {
  font-family: "Chivo", sans-serif;
  font-size: 20px;
  line-height: 28px;
}
footer .quick-link {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 19px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .quick-link .left-quick-link p {
  width: fit-content;
  position: relative;
}
footer .quick-link .left-quick-link p::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -15px;
  width: 100%;
  height: 2px;
  background-color: #EE2351;
}
footer .quick-link .left-quick-link ul {
  padding: 20px 20px 20px 0px;
}
footer .quick-link .left-quick-link ul li {
  list-style: none;
  margin-bottom: 30px;
}

.services__page .hero-section {
  background-image: url("/images/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  color: #fff;
  padding: 100px;
}
.services__page .hero-section .inner-div {
  max-width: 400px;
}
.services__page .hero-section .inner-div h2 {
  font-family: "Chivo", sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 84px;
}
.services__page .hero-section .inner-div p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
.services__page .wrapper {
  margin-top: -150px;
}
.services__page .wrapper .element {
  padding: 90px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.8) 100%), url("/images/img2.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.services__page .wrapper .element h3,
.services__page .wrapper .element p {
  max-width: 600px;
}
.services__page .wrapper .element h3 {
  font-family: "Chivo", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
}
.services__page .wrapper .element h3 i {
  transform: rotate(90deg);
}
.services__page .wrapper .element p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.services__page .highlighted-section {
  background-image: url("/images/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}
.services__page .highlighted-section .inner-div {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(107.02deg, rgba(19, 19, 19, 0.32) 12.09%, rgba(68, 67, 67, 0.32) 49.53%, rgba(0, 0, 0, 0.32) 89.26%);
  padding: 60px 20px 10px 20px;
}
.services__page .highlighted-section .inner-div .left p {
  font-family: "Chivo", sans-serif;
  font-size: 34px;
  font-weight: 100;
  line-height: 54px;
  color: #F2F2F7;
}
.services__page .highlighted-section .inner-div .right .mb-3 {
  flex-grow: 1;
}
.services__page .highlighted-section .inner-div .right .mb-3 input {
  background-color: #121212;
  color: #fff;
  padding: 1.2rem 1rem;
  border: none;
}
.services__page .highlighted-section .inner-div .right .btn {
  border: none;
  border-radius: 50px;
  padding: 14px 40px;
  background: #EE2351;
  color: #fff;
}
.services__page .highlighted-section .inner-div .right p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #8E8E93;
}

.common-banner {
  padding: 100px;
  height: 350px;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.8) 100%), url("/images/blog-img.jfif") no-repeat;
  background-size: cover;
  color: #fff;
}
.common-banner h2 {
  font-family: "Chivo", sans-serif;
  font-size: 70px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 84px;
  max-width: 500px;
}

.common-text {
  padding-top: 60px;
  padding-bottom: 100px;
  color: #B6B6B6;
}
.common-text .left p {
  font-family: "Chivo", sans-serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 45px;
}

.design-1 {
  color: #F2F2F7;
  font-weight: 100;
}
.design-1 h3 {
  font-family: "Chivo", sans-serif;
  font-size: 34px;
  line-height: 54px;
  font-weight: 100;
}
.design-1 .row {
  background: url("/images/blog-img.jfif") no-repeat, #202020;
  height: 500px;
  background-size: cover;
}
.design-1 .row .right {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(107.02deg, rgba(19, 19, 19, 0.32) 12.09%, rgba(68, 67, 67, 0.32) 49.53%, rgba(0, 0, 0, 0.32) 89.26%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.11), 0px 2px 16px 18px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(35px);
  padding: 60px 40px;
}
.design-1 .row .right p {
  font-family: "Chivo", sans-serif;
  font-size: 34px;
  line-height: 54px;
}
.design-1 .row .right li {
  font-family: "Chivo", sans-serif;
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 20px;
}

.common-cta {
  background-color: #2A2A2A;
  padding: 50px 250px;
  margin-top: 60px;
  text-align: center;
}
.common-cta h4 {
  font-family: "Chivo", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 54px;
  color: #F2F2F7;
}
.common-cta p {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #B6B6B6;
}
.common-cta .btn {
  padding: 18px 40px;
  background-color: #EE2351;
  color: #fff;
  border-radius: 50px;
}

.design-2 {
  color: #F2F2F7;
}
.design-2 h2 {
  font-weight: 100;
  margin-bottom: 30px;
}
.design-2 .img-div {
  height: 350px;
  background: url("/images/blog-img.jfif"), #202020;
  border-radius: 6px;
  margin-bottom: 25px;
}
.design-2 .img-div .text-div {
  padding: 40px 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(107.02deg, rgba(19, 19, 19, 0.32) 12.09%, rgba(68, 67, 67, 0.32) 49.53%, rgba(0, 0, 0, 0.32) 89.26%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.11), 0px 2px 16px 18px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(35px);
  width: 100%;
  font-family: "Chivo", sans-serif;
  font-size: 28px;
  font-weight: 100;
  line-height: 45px;
}

@media (max-width: 767px) {
  .banner .banner-section .inner-banner-div {
    padding-bottom: 60px;
    padding-top: 20px;
  }
  .banner .banner-section .inner-banner-div .banner-img {
    height: 380px;
    padding: 100px 35px;
  }
  .banner .banner-section .inner-banner-div .banner-img p {
    font-size: 35px;
    line-height: 40px;
  }
  .banner .banner-section .inner-banner-div .text-div {
    padding: 50px 30px;
  }
  .banner .banner-section .inner-banner-div .text-div p {
    margin-bottom: 20px;
  }
  .section-2 .inner-div {
    padding: 20px 0px;
  }
  .section-2 .inner-div h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .section-2 .inner-div p.p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 30px;
  }
  .section-2 .inner-div .works {
    display: block;
    padding: 25px;
  }
  .section-2 .inner-div .works p.p2 {
    font-size: 20px;
    line-height: 28px;
  }
  .section-2 .inner-div .works .right-div {
    display: block;
  }
  .section-2 .inner-div .works .right-div div {
    margin-bottom: 20px;
  }
  .section-3 .inner-div {
    padding: 20px;
  }
  .section-3 .inner-div p {
    margin-bottom: 100px;
  }
  .section-3 .inner-div ul li {
    font-size: 16px;
  }
  .section-3 .inner-div ul li i {
    font-size: 12px;
  }
  .section-4 .container {
    display: block;
  }
  .section-4 .container .left-div h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .section-4 .container .right-div {
    padding: 20px 0px;
  }
  .section-5 {
    padding: 35px 20px;
    display: block;
  }
  .section-5 .inner-div h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .section-6 .inner-div h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .section-6 .inner-div .blog-list {
    display: block;
  }
  .section-6 .inner-div .blog-list .card {
    margin-bottom: 20px;
  }
  .section-7 .contact-info,
  .section-7 .contact-form {
    padding: 20px;
  }
  .section-7 h2 {
    margin-bottom: 20px;
  }
  footer {
    padding: 100px 0px 0px;
  }
  .services__page .hero-section {
    padding: 20px;
  }
  .services__page .hero-section .inner-div h2 {
    font-size: 48px;
  }
  .services__page .wrapper .element {
    padding: 25px;
  }
  .services__page .wrapper .element h3 {
    font-size: 24px;
  }
  .services__page .highlighted-section {
    padding: 20px 10px;
  }
  .services__page .highlighted-section .inner-div {
    padding: 20px;
  }
  .services__page .highlighted-section .inner-div .left p {
    font-size: 22px;
    line-height: 34px;
  }
  .common-banner {
    padding: 20px;
  }
  .common-banner h2 {
    font-size: 38px;
  }
  .common-text {
    padding-bottom: 30px;
  }
  .design-1 {
    padding: 20px;
  }
  .design-1 h3 {
    font-size: 24px;
  }
  .design-1 .row {
    height: unset;
  }
  .design-1 .row .left {
    height: 300px;
  }
  .design-1 .row .right {
    padding: 20px;
  }
  .design-1 .row .right p {
    font-size: 28px;
  }
  .design-1 .row .right li {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .common-cta {
    padding: 40px 20px;
  }
  .common-cta h4 {
    font-size: 24px;
    line-height: 40px;
  }
  .common-cta p {
    font-size: 16px;
    line-height: 28px;
  }
  .common-banner h2 {
    line-height: 54px;
  }
  .design-2 .img-div .text-div {
    font-size: 22px;
  }
}
